@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pacifico";
  src: url("./font/Pacifico-Regular.ttf");
}

@font-face {
  font-family: "caveat";
  src: url("./font/Caveat-Regular.ttf");
}
